# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Android
android/app/build/
android/build/
android/.gradle/
android/app/src/main/assets/
android/app/google-services.json

# iOS
ios/build/
ios/Pods/
ios/GoogleService-Info.plist

# Misc
.DS_Store
*.pem
